# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Environment Variables
.env

# Model Weights
*.pt

# OS Files
.DS_Store
Thumbs.db